

	#wrap { 
		margin: 0 auto;
		text-align: center;
		font-family: 'Alfa Slab One', cursive;
		font-family: 'Anton', sans-serif;
	 }
	#wrap hr { width: inherit; border: 1px solid navy; }
	#header, #nav {
		width: 700px; 
		margin: 10px auto;
		text-align: center;
	}
	#header a { font-size: 2em; }
	img { width: 1250px; }
	div a {
	  text-decoration: none;
	  color: black;
	  font-size: 20px;
	  padding: 15px;
	  display:inline-block;
	}
	ul {
	  display: inline;
	  margin: 0;
	  padding: 0;
	}
	ul li {display: inline-block;}
	ul li:hover ul {
		display: block;
		text-align: left;
	}
	ul li ul {
	  position: absolute;
	  width: 200px;
	  display: none;
	}
	ul li ul li { 
		display: block;
		
	}
	ul li ul li a {
		display:block !important;
		font-size: 1.2em;
		height: 10px;
	}

	 
	footer {
		text-align: center;
	}

